.button-mode {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
    margin-top: 1em;
}

.message-mode {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-left: 1.6%;
}

.work-p {
    margin-right: 0.8em;
}
