.Banner-Link {
    margin: -48px auto 4px;
    width: auto;
    color: white;
    text-decoration: none;
}

.Banner-Title {
    font-family: airborne;
    color: white;
    text-decoration: none;
}

.ham-link {
    text-decoration: none;
    color: black;
    border-style: none;
}