.nav {
    display: flex; 
    justify-content: center; 
    transition: all 3s;
    background: black;
}

.menu-item {
    padding: 0 0.5em;
    color: white;
    text-decoration: none;
    width: 205px; 
}


.link {
    text-decoration: none;
    color: white;
}
